<div class="container">
    <h3>Novo Veículo </h3>
    <hr>
    <div class="row">
        <div class="col-md-10">
            <form novalidate="novalidate" (ngSubmit)="novoVeiculo()" [formGroup]="form">

                <div class="form-group">
                    <label class="control-label">Marca</label>
                    <input class="form-control" id="marca" type="text" formControlName="marca" />

                </div>

                <div class="form-group">
                    <label class="control-label">Modelo</label>
                    <div>
                        <input class="form-control" id="modelo" type="text" formControlName="modelo" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Cor do Veículo</label>
                    <div>
                        <input class="form-control" id="cor" type="text" formControlName="cor" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Placa Veículo</label>
                    <div>
                        <input class="form-control" id="placa" type="text" formControlName="placa" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Quilometragem Atual</label>
                    <div>
                        <input class="form-control" id="quilometragem" type="text" formControlName="quilometragem" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Ano Veículo</label>
                    <div>
                        <input class="form-control" id="anoFabricacao" type="text" formControlName="anoFabricacao" />
                    </div>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a class="btn btn-info">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>