<div class="container">
    <button type="button" class="btn btn-primary" [routerLink]="['/cliente/new']">Adicionar Cliente</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Telefone</th>
                <th scope="col">CPF</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">

                <td> {{ cliente.id }} </td>
                <td> {{ cliente.nome }} </td>
                <td> {{ cliente.telefone }} </td>
                <td> {{ cliente.cpf }} </td>
                <td> {{ cliente.dataNascimento }} </td>
                <button type="button" class="btn btn-primary" [routerLink]="['/cliente/detalhes']">Detalhes</button>
                <button type="button" class="btn btn-success" [routerLink]="['/cliente/editar']">Editar</button>
                <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                <button type="button" class="btn btn-primary" [routerLink]="['/veiculo/new']">
                    <i class="fa fa-car"></i>
                </button>
            </tr>
        </tbody>
    </table>
</div>