<div class="container">
    <button type="button" class="btn btn-primary novo-cliente" [routerLink]="['/cliente/new']">Novo Cliente</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td> {{ cliente.id }} </td>
                <td> {{ cliente.nome }} </td>
                <td> {{ cliente.cpf | mask:"000.000.000-00"}} </td>
                 
                <button type="button" class="btn btn-primary" [routerLink]="['/cliente/detalhes', cliente.id]">Detalhes</button>
                <button type="button" class="btn btn-success" [routerLink]="['/cliente/editar', cliente.id]">Editar</button>
                <!-- <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button> -->
                <!-- <button type="button" class="btn btn-primary" [routerLink]="['/veiculo/new']" tooltip="Adicionar Veículo" placement="bottom"><i class="fa fa-car"></i></button> -->
                
            </tr>
        </tbody>
    </table>
</div>